:host {
  display: flex;
}

.schedule-page {
  margin: 2% 5%;
  width: 100%;

  &__top {
    margin-bottom: 26px;

    &__title {
      font-size: 24px;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &__controls {
    margin-bottom: 16px;
  }
  &__button {
    margin-left: 16px;
    float: right;
  }
}
