.layout {
  display: flex;
  width: max-content;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 240px; // Начальная ширина
  height: 100vh;
  overflow: auto;
  position: relative;
  transition: width 0.3s ease;

  &.collapsed {
    width: 60px; // Ширина при свернутом состоянии

    .menu-text {
      display: none;
    }
  }

  .menu {
    flex-grow: 1;
  }

  .bottom-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hide {
    margin: 10px;
    transition: margin-top 0.3s ease;
  }
}
