:host {
  display: flex;
}

.block {
  margin: 2% 5% 0 5%;

  > * {
    padding-bottom: 26px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
  }
  .select {
    min-width: 300px;
    width: 100%;
    margin-top: 6px;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .mr8 {
    margin-right: 8px;
  }
}
app-layout {
  position: relative;
  z-index: 10;
}

