<app-layout></app-layout>
<div class="block">
  <div>
    <h2 class="title">Создание мероприятия</h2>
    <p>Заполните базовую информацию о мероприятии, для генерации шаблона</p>
  </div>
  <div class="flex">
    <strong>Выберите тип мероприятия</strong>
    <nz-select class="select" [(ngModel)]="typeEventSelectedValue" nzAllowClear nzPlaceHolder="Тип мероприятия">
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    </nz-select>
  </div>
  <div class="flex">
    <strong>Выберите специальность</strong>
    <nz-select class="select" nzShowSearch nzAllowClear nzPlaceHolder="Специальность" [(ngModel)]="specialitySelectedValue">
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
    </nz-select>
  </div>
  <div class="flex">
    <strong>Выберите период проведения</strong>
    <nz-range-picker class="select" [(ngModel)]="dateRange" [nzFormat]="dateFormat" (ngModelChange)="onDateRangeChange($event)"></nz-range-picker>
  </div>
  <div>
    <button class="mr8" (click)="reset()" nz-button nzType="primary" nzGhost>Сбросить</button>
    <button (click)="createEvent()" nz-button nzType="primary">Создать</button>
  </div>
</div>
