<app-layout (collapse)="isCollapsed = $event"></app-layout>
<div class="applications-page">
  <div class="applications-page__top">
    <h2 class="applications-page__title">Заявки на мероприятие</h2>
    <p>Здесь вы можете посмотреть заявки на участие в мероприятии</p>
  </div>
  <div class="applications-page__controls">
    <nz-segmented [nzOptions]="optionsSegmented" (nzValueChange)="onSegmentChange($event)"></nz-segmented>
    <button nz-button class="applications-page__button" nzType="default" nz-popover nzPopoverPlacement="bottomRight" nzPopoverTitle="Фильтр" [(nzPopoverVisible)]="visible" (nzPopoverVisibleChange)="change($event)" nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate">
      <span nz-icon nzType="filter"></span> Фильтр
    </button>
    <ng-template #contentTemplate>
      <form nz-form [formGroup]="filterForm" (ngSubmit)="submitFilterForm()">
        <nz-form-item>
          <nz-form-label>Тип мероприятия</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-select class="applications-page__select"
                         formControlName="eventTypes"
                         nzPlaceHolder="Выберите из списка">
                <nz-option *ngFor="let option of eventTypeOptions" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Медицинский работник</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-select class="applications-page__select"
                         formControlName="medicalWorkers"
                         nzPlaceHolder="Выберите из списка">
                <nz-option *ngFor="let option of medicalWorkerOptions" [nzLabel]="option.fullName" [nzValue]="option.id"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Период подачи заявки</nz-form-label>
          <nz-form-control>
            <nz-input-group>
              <nz-range-picker
                formControlName="date"
                style="width: 350px"
                nzPlaceHolder=" "
                (ngModelChange)="onChange($event)">
              </nz-range-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button class="applications-page__bnt" nz-button nzType="default" (click)="resetFilterForm()">Сбросить</button>
        <button class="applications-page__butn" nz-button nzType="primary" (click)="applyFilter()">Применить фильтр</button>
      </form>
    </ng-template>
  </div>
  <div *ngIf="selectedIndex === 0">
    <app-table-applications></app-table-applications>
  </div>
</div>

