<app-layout (collapse)="isCollapsed = $event"></app-layout>
<div class="applications-page">
  <div class="applications-page__top">
    <h2 class="applications-page__title">Контактная информация</h2>
    <p>Здесь вы можете посмотреть информацию о компании и проводимых мероприятиях</p>
    <p>Ниже представлены программы реализуемые учебным центром:</p>
  </div>
  <div class="applications-page__controls">
    <nz-segmented [nzOptions]="optionsSegmented" (nzValueChange)="onSegmentChange($event)"></nz-segmented>
  </div>
  <div *ngIf="selectedIndex === 0">
    <p>Первичная аккредитация включает в себя три этапа:</p>
    <p><b>Этап 1</b> – тестирование для проверки теоретических знаний (длительность 120 минут);</p>
    <p><b>Этап 2</b> – оценка практических навыков;</p>
    <p><b>Этап 3</b> – Собеседование.</p>
    <br>
    <p>Первичная аккредитация проводится по вторникам и четвергам.</p>
  </div>
  <div *ngIf="selectedIndex === 1">
    <p>Дополнительное образование  включает в себя:</p>
    <p><b>Обучение:</b></p>
      <p>Лекционный курс -10 часов по 4 часа в неделю;</p>
      <p>Практические занятия – 12 часов по 4 часа в неделю.</p>
    <p><b>Оценочные мероприятия:</b></p>
    <p>Тестирование.</p>
    <br>
    <p>Повышение квалификации проводится  каждый месяц в период с 10 по 25 число.</p>
  </div>
  <div *ngIf="selectedIndex === 2">
    <p>Повышение квалификации включает в себя:</p>
    <p><b>Обучение:</b></p>
    <p>Лекционный курс -16 часов по 6 часов в неделю;</p>
    <p>Практические занятия – 18 часов по 8 часов в неделю.</p>
    <p><b>Оценочные мероприятия:</b></p>
    <p>Тестирование.</p>
    <br>
    <p>Дополнительное образование проводится раз в два месяца - период с 5 числа в течение 20 календарных рабочих дней.</p>
  </div>



</div>

