<app-layout (collapse)="isCollapsed = $event"></app-layout>

<div class="edit-slots-page__columns">
  <div class="edit-slots-page__column1">
    <h2>Основные параметры</h2>
    <div class="edit-slots-page__containerType">
      <p class="edit-slots-page__type">Тип мероприятия</p>
      <p class="edit-slots-page__item">Первичная специализированная аккредитация</p>
    </div>
    <div class="edit-slots-page__containerType">
      <p class="edit-slots-page__type">Вид этапа</p>
      <p>Оценка практических навыков</p>
    </div>

    <div class="edit-slots-page__date-container">
      <p class="edit-slots-page__item">Дата проведения</p>
      <nz-date-picker [(ngModel)]="date" [nzPlaceHolder]="calendar" (ngModelChange)="onChange($event)"></nz-date-picker>
      <nz-time-picker [nzHourStep]="1"  [nzDisabledHours]="disabledHours" [nzPlaceHolder]="startTime" nzFormat="HH:mm" ></nz-time-picker>
      <div>——</div>
      <nz-time-picker [nzHourStep]="1"  [nzDisabledHours]="disabledHours" [nzPlaceHolder]="endTime" nzFormat="HH:mm" ></nz-time-picker>
    </div>
  </div>

  <div class="edit-slots-page__column2">
    <h2>Ресурсы</h2>
    <div *ngFor="let employee of employees; let i = index">
      <div class="edit-slots-page__employee-container" [ngClass]="{ 'last': i === employees.length - 1 }">
        <p class="edit-slots-page__item">Специалист</p>
        <nz-select class="edit-slots-page__selectFIOResources" nzShowSearch nzAllowClear nzPlaceHolder="ФИО Специалиста" [(ngModel)]="employee.specialistResources">
          <nz-option *ngFor="let option of specialistResourcesOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>

        <nz-select class="edit-slots-page__selectPostResources" nzShowSearch nzAllowClear nzPlaceHolder="Вид" [(ngModel)]="employee.typeResources">
          <nz-option *ngFor="let option of typeResourcesOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </div>
    </div>
    <button class="edit-slots-page__add-button" nz-button nzType="text" (click)="addEmployee()"> + Добавить специалиста</button>

    <div *ngFor="let location of locations; let i = index">
      <p class="h3"><b>Локация</b></p>
      <div class="edit-slots-page__location-container">
        <p class="edit-slots-page__item">Помещение</p>
        <nz-select  class="edit-slots-page__location" nzShowSearch nzAllowClear nzPlaceHolder="Введите или выберите из списка" [(ngModel)]="location.number">
          <nz-option *ngFor="let option of numberOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>

        <input style="width: 50px" nz-input placeholder="" [(ngModel)]="location.value" type="number" />
        <p class="edit-slots-page__item">мест</p>
      </div>
      <div *ngFor="let spec of location.specialist; let j = index">
        <div class="edit-slots-page__employee-container" [ngClass]="{ 'last': j === location.specialist.length - 1 }">
          <p class="edit-slots-page__iitem">Специалист</p>
          <nz-select class="edit-slots-page__selectFIO" nzShowSearch nzAllowClear nzPlaceHolder="ФИО Специалиста" [(ngModel)]="spec.specialist">
            <nz-option *ngFor="let option of specialistResourcesOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>

          <nz-select class="edit-slots-page__selectPost" nzShowSearch nzAllowClear nzPlaceHolder="Вид" [(ngModel)]="spec.type">
            <nz-option *ngFor="let option of typeResourcesOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </div>
      </div>
      <button class="edit-slots-page__add-button" nz-button nzType="text" (click)="addSpecialist(i)"> + Добавить специалиста</button>
    </div>
    <br>
    <button class="edit-slots-page__add-button" nz-button nzType="text" (click)="addLocation()">+ Добавить локацию</button>


    <div class="edit-slots-page__button-container">
      <button nz-button  nzType="default">Отменить</button>
      <button nz-button  nzType="default">Сохранить черновик</button>
      <button nz-button  nzType="primary" disabled>Утвердить</button>
    </div>
  </div>
</div>


